@import url("/CSS/17_Grid/picture.css");
html, body{
    margin: 0;
}
.container{
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(4,1fr);
}
.one{
    grid-column-start: 1;
    grid-column-end: 3;
}
.two{
    grid-column-start: 1;
    grid-column-end: 2;
}
.three{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
}
.four{
    grid-column-start: 2;
    grid-column-end: 4;
}
.five{
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 4;
}


